


<div class="text-center">
    <form asp-controller="Giris" asp-action="YonlendirmeIslemi" method="post">
        <button type="submit" class="btn btn-primary" name="hedef" value="Admin">Admin Sayfasına Git</button>
        <button type="submit" class="btn btn-primary" name="hedef" value="Kullanici">Kullanıcı Sayfasına Git</button>
    </form>
</div>